<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <meta charset="utf-8">
    <title>Team</title>
  </head>
  <body>
    <h2>Présentation de l'équipe :</h2><br>
    <p>Léquipe est composée de :
<ul>
  <li>Virus le teckel à poil dur (CEO)</li>
  <li>Fléo le teckel à poil ras (CTO)</li>
</ul>
    </p>
  </body>
</html>
