<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <meta charset="utf-8">
    <title>Contact</title>
  </head>
  <body>
        <h2>Nous contacter</h2>
        <p>Email : teckel@company.com <br>
           Addresse : 69 rue de la saucisse <br>
           Ville : Teckelville</p>
  </body>
</html>
